@tailwind base;
@tailwind components;
@tailwind utilities;

.swal-high-index {
  z-index: 999999999999999999999999999999999999999999999999999999999999999999;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
